#root {
    margin: 0 auto;
    padding: 2rem;
    background-color: cadetblue;
  }
  
  .NavBarLoc {
    display: flex;
    justify-content: space-around;
    background-color: lightslategray;
    align-items: center;
    font-weight: 500;
  }
  
  .cartWidget {
    display: flex;
    justify-content: right;
  }
  
  .menuDesplegable {
    background-color: lightslategray;
  }
  
  .itemListC {
    margin: 5%;
    margin-left: 37%;
    font-size: larger;
    font-weight: 700;
  }
  
  .imagenWelcome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
  }
  
  .footer {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 20px;
  }