#root {
    height: 100%;
    background-image: linear-gradient(to bottom, #333333, #dddddd);
    width: 100%;
}

.cartWidget {
    display: flex;
}

.NavBarLoc {
    display: flex;
    justify-content: space-around;
    background-color: lightslategray;
    align-items: center;
    font-weight: 700;
    border: solid;
    color: aliceblue;
}

.menuDesp {
    font-weight: 800;
    font-size: small;
}

.cartWidget {
    display: flex;
    justify-content: right;
}

.imagenWelcome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.imgWelc {
    border-radius: 20px;
    width: 45%;
}

.footer {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    color: black;
}

.tarjetapp {
    width: 170px;
    height: 330px;
    margin: 5px;
}

.contador {
    font-size: larger;
    font-weight: 500;
}

.catprincipal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formCart {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    font-size: small;
    margin-top: 6%;
    margin-bottom: 6%;
    color: aliceblue;
}

.lineaForm {
    margin-bottom: 1%;
    font-weight: 400;
}

.btnForm {
    border: solid;
    border-color: aliceblue;
}

.menuDesp {
    font-weight: 500;
    width: 300px;
    padding: 1%;
    font-size: 18px;
}

.opcMenu {
    display: flex;
    flex-direction: row;
    padding: 2%;
    font-size: medium;
}

.botonCatalogo {
    border: solid;
    border-color: aliceblue;
    width: 115px;
    padding: 5px;
    font-size: medium;
}

.linkMarca {
    font-weight: 500;
    font-size: medium;
}

.opMenuItem {
    padding-right: 2%;
}

.textoContador {
    width: 150px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-around;
 }