#root {
  margin: 0 auto;
  padding: 2rem;
  background-color: cadetblue;
}

.NavBarLoc {
  display: flex;
  justify-content: space-around;
  background-color: lightslategray;
  align-items: center;
  font-weight: 500;
}

.cartWidget {
  display: flex;
  justify-content: right;
}

.menuDesplegable {
  background-color: lightslategray;
}

.itemListC {
  margin: 5%;
  margin-left: 37%;
  font-size: larger;
  font-weight: 700;
}